.head-block {
  background-image: url(../images/15.png);
  padding-top: 531px;
  padding-left: 215px;
  color: white;
  padding-bottom: 145px;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-block-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 700;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 18px;
}

h2 {
  font-size: 54px;
  text-transform: uppercase;
}

.yellow-text {
  color: yellow;
}

.head-block-slogan {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 45px 30px;
  display: inline-block;
  border: white 5px solid;
  font-weight: 700;
}

.slogan-margin {
  margin-right: 35px;
}

.basic-title {
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.basic-subtitle {
  text-align: center;
  padding: 30px;
  font-size: 17px;
  font-family: sans-serif;
}

.conteiner {
  width: 1280px;
  margin: 0 auto;
}

.basic-block {
  text-align: center;
  padding: 50px 0;
}

.short-yellow-lane {
  display: block;
  width: 60px;
  text-align: center;
  border: 1.5px yellow solid;
  margin: 40px auto;
}

.image {
  background-image: url(../images/2.png );
  height: 190px;
  width: 280px;
  margin: 0 auto;
}

.navbar-logo {
  color: yellow;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}

.navbar-menu {
  text-transform: uppercase;
  list-style: none;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  position: relative;
  width: 89%;
}

.navbar-menu-item {
  font-style: uppercase;
  display: inline-block;
  padding: 0 20px;
}

.text-link {
  text-decoration: none;
}